{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Update Your Resume Information</h1>

                    <!-- Display messages if any -->
                    {% if messages %}
                        <div class="alert alert-info" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary"><a href="{% url 'resume-details' pk=request.user.id%}"></a>update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
